<% include ./static/header %>
<% include ./static/sidebar %>
<% include ./static/navbar %>

<div class="col-md-6 col-lg-10-2">
    <!-- general form elements -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <br>
            <h3 class="box-title">Nuevo Mandril</h3>
        </div>

        <div class="alert alert-success text-center mt-1" id='success-alert' role="alert" hidden>
            <span>Mandril Guardado</span>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form action="/guardar_equipo" method="POST">
            <div class="box-body">
                <!------->
                <!-- Date format yyyy-m-d -->
                <%
                     var d = new Date();
                     var mm = d.getMonth() + 1;
                     var dd = d.getDate();
                     var yy = d.getFullYear();
                     var myDateString = yy + '-' + mm + '-' + dd; //(US)
                     %>
                <!------->

                <div class="row">

                    <div class="form-group col-lg-12">
                        <label for="Titulo">Nombre Empleado: </label> <label id="msg"> </label>
                        <input type="text" class="form-control" id="nombreempleado" value="<%=data4%> - <%=data3%>" name="nombreempleado"
                            onkeyup="this.value = this.value.toUpperCase();" readonly>
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="Titulo">ID Mandril: </label> <label id="msg"> </label>
                        <input type="text" class="form-control" id="id" value="" name="id"
                            onkeyup="this.value = this.value.toUpperCase();" required>
                    </div>

                    
                    <div class="form-group col-lg-6"  id='divplat'>
                        <label for="Titulo">Plataforma</label>
                        <select class="form-control" name="plataforma" id="plataforma">
                            <option value="" selected>Seleccionar</option>
                            <% for (var i = 0; i < data.length; i++) { %>
                            <option><%= data[i].subarea %></option>
                            <% } %>
                        </select>
                    </div>



                </div>
                <!------->


                <div class="row">
                    
                    
                    <div class="form-group col-lg-6">
                        <label for="Titulo">Numero Parte </label> <label id="msg"> </label>
                        <input type="text" class="form-control" id="parte" value="" name="parte"
                            onkeyup="this.value = this.value.toUpperCase();" required>
                    </div>

                    <div class="form-group col-lg-6">
                        <label for="Titulo">Ubicacion </label> <label id="msg"> </label>
                        <input type="text" class="form-control" id="ubicacion" value="" name="ubicacion"
                            onkeyup="this.value = this.value.toUpperCase();" required>
                    </div>
                   


                </div>




                <div class="row">



                    <div class="form-group col-lg-6">
                        <label for="Titulo">Periodo de Mantenimiento (Meses)</label>
                        <select class="form-control" name="periodo" id="periodo" required>
                            <option value="" selected>Seleccionar</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>24</option>
                            <option>36</option>


                        </select>
                    </div>

                    <div class="col-lg-6">
                        <label for="inlineFormInputGroup">Ultimo</label>
                        <div class="input-group ">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><span class="fas fa-calendar"></span></div>
                            </div>
                            <input type="text" class="form-control" id="fecha_verificacion" name="fecha_verificacion"
                                placeholder="yyyy-m-d" required autocomplete="off">
                        </div>
                    </div>
                </div>




                <div class="row">
                    
                    
                    <div class="form-group col-lg-6">
                        <label for="Titulo">Total </label> <label id="msg"> </label>
                        <input type="number" class="form-control" id="total" value="" name="total"
                            onkeyup="this.value = this.value.toUpperCase();" required>
                    </div>


                </div>
                <!------->


                <div class="box-footer">
                    <button id="btnguardar" type="submit" class="btn btn-primary"
                        onclick="$('form').attr('action', '/guardar_equipo');">Guardar</button>
                </div>
        </form>
    </div>
    <!-- /.box -->

    <% include ./static/footer %>
</div>
</body>

</html>

<script>

    ////////////////////////////////////////////////////////////////////////////////////////
    $(document).ready(function () {
        nuevo = <%- JSON.stringify(data8) %>;

        if (nuevo == 'true') {
            $('#success-alert').prop("hidden", false);
            $("#success-alert").show()
            setTimeout(function () {
                $("#success-alert").slideUp(1000);
            }, 1000);
        }
    });

    /////////////////////////////////////////////////////////////////////////////////////////


    $('#fecha_verificacion').datepicker({
        format: "yyyy-m-d",
        orientation: "bottom",
        todayHighlight: true
    });


    id.addEventListener("keyup", function (e) {

        equipo = <%- JSON.stringify(data5) %>;
        var msg = document.getElementById("msg");
        var idin = document.getElementById("id");

        var id = $('#id').val();


        for (var i = 0; i < equipo.length; i++) {
            if (id == equipo[i].equipo_id) {

                $('#btnguardar').prop("disabled", true);
                msg.innerHTML = ' Ya registrado';
                idin.classList.remove('border-success');
                msg.classList.remove('text-success');
                msg.classList.add('text-danger');
                idin.classList.add('border-danger');
                break;

            } else {

                $('#btnguardar').prop("disabled", false);
                msg.innerHTML = ' ';
                idin.classList.remove('border-danger');
                msg.classList.add('text-success');
                idin.classList.add('border-success');
            }
        }

    });







    ///////////////////////////////



</script>