<% include ./static/header %>
<% include ./static/sidebar %>
<% include ./static/navbar %>


<div class="col-md-10 col-lg-10-2 col-xl-11">
    <div class="row">
        <div class="box-header col-lg-6">
                <br>
            <h3 class="box-title">Mandriles Disponibles</h3>
        </div>
    </div>


</div>

<div class="container">
    <div class="col-lg-12">

    </div>

</div>
<div class="table-responsive">
<div class="containerTable">
<!-- /.box-header -->
<div class="table table-responsive" id="table">
    <table id="myTable" class="table table-bordered table-striped">
        <thead class="thead-dark">

            <th><span class="icoSidebar fas fa-history"></span> Entrada/Salida</th>
            <th><span class="icoSidebar fas fa-history"></span> Inventario</th>
            <th><span class="icoSidebar fas fa-hashtag"></span> ID Mandril</th>
            <th><span class="icoSidebar fas fa-car"></span> Plataforma</th>
            <th><span class="icoSidebar fas fa-car"></span> Numero Parte</th>
            <th><span class="icoSidebar fas fa-car"></span> Disponible</th>
            <!-- <th><span class="icoSidebar fas fa-car"></span> Dado de Baja</th> -->



        </thead>

        <tbody>
            <%if(data2) { %>
            <% for (var i = 0; i < data2.length; i++) { %>


            <tr class="table_roww">
                <td class="text-center " width='10%'>
                    <form method="POST">
                        <button name="equipoid" type="submit" formaction="/historial"
                            class="btn btn-dark text-center"><span class="icoWhite fas fa-exchange-alt"></button>
                        <input type="text" name="equipo_id2" value="<%=data2[i].equipo_id%>" hidden>
                    </form>
                </td>

                <td class="text-center " width='10%'>
                    <form method="POST">
                        <button name="equipoid" type="submit" formaction="/inventario"
                            class="btn btn-success text-center"><span class="icoWhite fas fa-list"></button>
                        <input type="text" name="equipo_id2" value="<%=data2[i].equipo_id%>" hidden>
                    </form>
                </td>
                <td class="table_id"><%= data2[i].equipo_id %></td>
                <td><%= data2[i].equipo_plataforma%></td>
                <td><%= data2[i].equipo_parte%></td>
                <td><%= data2[i].disponibles%></td>





            </tr>
            <% } %>
            <% } %>
        </tbody>
    </table>
</div>
</div>
</div>
<% include ./static/footer %>
</div>
</body>

</html>